<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165014597653-g7isgn1orivdspp2nktuqdv1rav04u5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165014597653-g7isgn1orivdspp2nktuqdv1rav04u5u</string>
	<key>API_KEY</key>
	<string>AIzaSyCT_Ur0Bmmm-uoND-M6WF1LXyEnKL5Ch9I</string>
	<key>GCM_SENDER_ID</key>
	<string>165014597653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test</string>
	<key>PROJECT_ID</key>
	<string>test-a1782</string>
	<key>STORAGE_BUCKET</key>
	<string>test-a1782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165014597653:ios:87dc3ab7497c1e057c5e1c</string>
</dict>
</plist>